* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.container {
  background-size: cover;
  background-position: center;
  max-width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: teal;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.email {
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}

button {
  width: 100px;
  align-self: center;
  padding: 5px;
  font-weight: 600;
  border-radius: 20px;
  border: none;
}

.title-game {
  margin-top: 150px;
}

.game {
  margin-top: 20px;
  
}

#start-game {
    margin-top: 50px;
}


#player,
#computer {
  font-size: 3rem;
  font-weight: 600;
  border: 5px solid rgb(179, 20, 20);
  border-radius: 20px;
  color: rgb(179, 20, 20);
  background-color: seashell;
  width: 120px;
  height: 120px;
  line-height: 120px;
  vertical-align: middle;
  text-align: center;
}
